.App {
  background-color: aliceblue;
  text-align: center;
}

button {
  margin: 1em;
  background-color: rgb(26, 7, 134);
  border: 2px solid gray;
  color: whitesmoke;
  text-align: center;
  padding: 1em, 1.5em;
  font-size: 1.5em;
  font-family: "Arial Bold", sans-serif;
  display: inline-block;
  width: 25%;
  height: 50px;
}
